<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.quiz.lesson03.mapper.RealEstateMapper">
 
 	<!-- 3강 quiz1-1 -->
 	<select id="selectRealEstateById" parameterType="int" resultType="com.quiz.lesson03.domain.RealEstate">
 		SELECT 
 			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			`id`=#{id}
 	</select>
 	
 	<!-- 3강 quiz01-2 -->
 	<select id="selectRealEstateByRentPrice" parameterType="Integer" resultType="com.quiz.lesson03.domain.RealEstate">
 		SELECT 
 			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			`rentPrice` &lt; #{rentPrice}
 	</select>
 	
 	<!-- 3강 quiz01-3 -->
 	<select id="selectRealEstateByAreaAndPrice" resultType="com.quiz.lesson03.domain.RealEstate">
 		SELECT 
 			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			`area` &gt; #{param1}
		AND
			`price` &lt; #{param2} 	
		ORDER BY 
			`createdAt` 
		DESC
		
 	</select>
 
 </mapper>