@charset "UTF-8";
    
    #wrap {
    	width: 700px;
    }
    
    header {
     height: 100px;
     color: white;
    }
    
    .box{
		height:120px;
		display: inline-block;
	}
	
	.name {
		font-size:25px
	}
    