@charset "UTF-8";
    
    #wrap {
    	width: 700px;
    }
    
    header {
     height: 100px;
     color: white;
    }
	
	.name {
		font-size:25px
	}
	
	.store-box:hover {background-color:#E6FAFD;}
    
    a {text-decoration:none; color:#000;}
	a:hover {text-decoration:none; color:#000;}