@charset "UTF-8";

    .content {
    min-height: 400px;
    }
    
    .logo-box {
    height:50px;
    }
    
    .logo {
    height:30px;
    }
    
    .right {
    min-height: 400px;
    }
    
    .left {
    min-height: 400px;
    }
    
    
    .nav-link {
    color: #fff;
    }
    
    
    footer {
    height: 100px;
    }
    
    .footer-logo {
    height: 50px;
    }
    
